body , pre{
    font-family: 'Oswald';
    font-size: 20px;    
}
/* 
pre {
    font-family: 'Oswald';
    font-size: 22px;    
} */

.portion {
    height: 50%;
    width: 50%;
    /* z-index: 1; */
    position: absolute;
    border-color: brown;    
    border-style: ridge;
    border-width: 10px;
}

.center {
    /* border-color: black;
    border-width: 5px;
    border-style: dotted; */
    display: flex;
    flex-direction: column;
    align-content: left;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s;
    transition-timing-function: ease-in;
}

.center1 {
    align-content: left;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


#one {
    /* background-color: #ff6363 ; */
    background-color: #f0a500;
    background-image: url("./20200413_005748.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

#two {
    background-color: #dbdbdb;
    background-image: url("./20200413_010144.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    right: 0;
    top: 0;
    /* transition: all 2s; */
}

#three {
    background-color: #cf7500;
    background-image: url("./IMG-20200328-WA0036.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    /* padding-top: 20px; */
}

#four {
    color: white;
    background-color:  black;
    right: 0;
    bottom: 0;
}

#one:hover {
    background-image: none;
    /* background-color: #363062; */
}

#two:hover {
    background-image: none;
    /* background-color: #363062; */
}

#three:hover {
    background-image: none;
    /* background-color: #363062; */
}

.center:hover {
    opacity: 100;
}

a:link a:visited {
    text-decoration: none;
}

#icons {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-between;
    font-size: 50px;
}